In [2]:
from sqlalchemy import create_engine
import pandas as pd

# Create an engine that connects to the sqlite database
engine = create_engine('sqlite:///pdf_data.db')

# Use pandas to read the table
df = pd.read_sql('select * from pdf_data LIMIT 10;', engine)

# Print the DataFrame
df

Empty DataFrame
Columns: [id, file_name, extracted_text, author, Creation Date, Producer, Title]
Index: []

In [3]:
df

Empty DataFrame
Columns: [id, file_name, extracted_text, author, Creation Date, Producer, Title]
Index: []